005 Heating control unit/nodered_flow.json
[
    {
        "id": "d79fc8de.f18788",
        "type": "server-state-changed",
        "z": "71cd56f3.9608b8",
        "name": "Среднесуточная температура",
        "server": "b9490f48.586ed",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.outside_temperature_statistics",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "7e1d26a9.e56708"
            ]
        ]
    },
    {
        "id": "7e1d26a9.e56708",
        "type": "switch",
        "z": "71cd56f3.9608b8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "19",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "15",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 375,
        "y": 380,
        "wires": [
            [
                "3f192048.27c14"
            ],
            [
                "62b76597.09070c"
            ]
        ],
        "l": false
    },
    {
        "id": "62b76597.09070c",
        "type": "api-current-state",
        "z": "71cd56f3.9608b8",
        "name": "Отопительный сезон?",
        "server": "b9490f48.586ed",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.heating_season",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 550,
        "y": 400,
        "wires": [
            [
                "e78d3f74.5f1bb",
                "34d03dd9.53ccf2"
            ],
            []
        ]
    },
    {
        "id": "3f192048.27c14",
        "type": "api-current-state",
        "z": "71cd56f3.9608b8",
        "name": "Отопительный сезон?",
        "server": "b9490f48.586ed",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.heating_season",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 560,
        "y": 360,
        "wires": [
            [
                "1260b583.695c5a",
                "33f69c2b.5817b4"
            ],
            []
        ]
    },
    {
        "id": "e78d3f74.5f1bb",
        "type": "template",
        "z": "71cd56f3.9608b8",
        "name": "ON",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"domain\": \"input_boolean\",\n    \"service\": \"turn_on\",\n    \"data\": {\n        \"entity_id\": \"input_boolean.heating_season\"\n    }\n}\n",
        "output": "str",
        "x": 790,
        "y": 440,
        "wires": [
            [
                "66aea88f.0a7518"
            ]
        ]
    },
    {
        "id": "34d03dd9.53ccf2",
        "type": "function",
        "z": "71cd56f3.9608b8",
        "name": "data",
        "func": "msg.payload = {\n    chatId: \"99999999\",\n    type: \"message\",\n    content: \"❄️ Начат сезон отопления\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 400,
        "wires": [
            [
                "98c4999b.a04a78"
            ]
        ]
    },
    {
        "id": "1260b583.695c5a",
        "type": "function",
        "z": "71cd56f3.9608b8",
        "name": "data",
        "func": "msg.payload = {\n    chatId: \"99999999\",\n    type: \"message\",\n    content: \"🌞 Завершён сезон отопления\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 360,
        "wires": [
            [
                "98c4999b.a04a78"
            ]
        ]
    },
    {
        "id": "33f69c2b.5817b4",
        "type": "template",
        "z": "71cd56f3.9608b8",
        "name": "OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"domain\": \"input_boolean\",\n    \"service\": \"turn_off\",\n    \"data\": {\n        \"entity_id\": \"input_boolean.heating_season\"\n    }\n}\n",
        "output": "str",
        "x": 790,
        "y": 320,
        "wires": [
            [
                "66aea88f.0a7518"
            ]
        ]
    },
    {
        "id": "66aea88f.0a7518",
        "type": "api-call-service",
        "z": "71cd56f3.9608b8",
        "name": "HA",
        "server": "b9490f48.586ed",
        "version": 1,
        "debugenabled": false,
        "service_domain": "",
        "service": "",
        "entityId": "",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 975,
        "y": 380,
        "wires": [
            []
        ],
        "inputLabels": [
            "service"
        ],
        "l": false
    },
    {
        "id": "98c4999b.a04a78",
        "type": "telegram sender",
        "z": "71cd56f3.9608b8",
        "name": "Notify",
        "bot": "f6e2842.9c49078",
        "outputs": 1,
        "x": 895,
        "y": 380,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "9ab44aca.215548",
        "type": "comment",
        "z": "71cd56f3.9608b8",
        "name": "Включение отопительного сезона при среднесуточной температуре ниже 15 градусов",
        "info": "",
        "x": 330,
        "y": 320,
        "wires": []
    }
]
