003 Water Softener Salt Level/nodered_flow.json
[
    {
        "id": "5494f64e.e5e528",
        "type": "tab",
        "label": "Water Softener",
        "disabled": false,
        "info": ""
    },
    {
        "id": "84dde18a.81ddf",
        "type": "server-state-changed",
        "z": "5494f64e.e5e528",
        "name": "Крышка солевого бака",
        "server": "b9490f48.586ed",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.pantry_tank_cap",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "6250d364.d1086c",
                "dfe49c21.1877c"
            ],
            []
        ],
        "outputLabels": [
            "Открыт",
            "Закрыт"
        ]
    },
    {
        "id": "6250d364.d1086c",
        "type": "api-current-state",
        "z": "5494f64e.e5e528",
        "name": "Показания ХВС",
        "server": "b9490f48.586ed",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "sensor.pantry_water_count",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "adc80696.dcc638"
            ]
        ]
    },
    {
        "id": "adc80696.dcc638",
        "type": "mqtt out",
        "z": "5494f64e.e5e528",
        "name": "Salt refilled",
        "topic": "/pantry/watercounter/salt_refill",
        "qos": "0",
        "retain": "true",
        "broker": "338c62b5.037d7e",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "dfe49c21.1877c",
        "type": "api-call-service",
        "z": "5494f64e.e5e528",
        "name": "Flag Off",
        "server": "b9490f48.586ed",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.pantry_water_tank_refill_flag",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 400,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9797cf7.a24543",
        "type": "comment",
        "z": "5494f64e.e5e528",
        "name": "Запись показаний счетчика, при которых засыпалась соль",
        "info": "",
        "x": 920,
        "y": 160,
        "wires": []
    },
    {
        "id": "2790b3e2.f2e03c",
        "type": "interval",
        "z": "5494f64e.e5e528",
        "name": "interval",
        "interval": "12",
        "onstart": false,
        "msg": "ping",
        "showstatus": false,
        "unit": "hours",
        "statusformat": "YYYY-MM-D HH:mm:ss",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "9fffb362.8cd66"
            ]
        ]
    },
    {
        "id": "9fffb362.8cd66",
        "type": "api-current-state",
        "z": "5494f64e.e5e528",
        "name": "Уровень соли в баке",
        "server": "b9490f48.586ed",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "sensor.pantry_tank_salt_left",
        "state_type": "num",
        "state_location": "salt_level",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 380,
        "y": 340,
        "wires": [
            [
                "733ddd97.31c424"
            ]
        ]
    },
    {
        "id": "733ddd97.31c424",
        "type": "api-current-state",
        "z": "5494f64e.e5e528",
        "name": "Флаг поднят?",
        "server": "b9490f48.586ed",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.pantry_water_tank_refill_flag",
        "state_type": "str",
        "state_location": "refill_flag",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 580,
        "y": 340,
        "wires": [
            [
                "5efa6b65.11ed64"
            ]
        ]
    },
    {
        "id": "5efa6b65.11ed64",
        "type": "function",
        "z": "5494f64e.e5e528",
        "name": "calc",
        "func": "if ((msg.salt_level < 10) && (msg.refill_flag == \"off\")) {\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 340,
        "wires": [
            [
                "3a4e9e2f.d82db2"
            ]
        ]
    },
    {
        "id": "3a4e9e2f.d82db2",
        "type": "api-call-service",
        "z": "5494f64e.e5e528",
        "name": "Flag On",
        "server": "b9490f48.586ed",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.pantry_water_tank_refill_flag",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 860,
        "y": 340,
        "wires": [
            [
                "19935efb.35a061"
            ]
        ]
    },
    {
        "id": "19935efb.35a061",
        "type": "function",
        "z": "5494f64e.e5e528",
        "name": "data",
        "func": "msg.method = \"sendMessage\";\nmsg.payload = {\n    text: \"Уровень соли в баке \"+msg.salt_level+\"%.\\nПора досыпать 50 кг.\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 340,
        "wires": [
            [
                "e8b125b.9efbad8"
            ]
        ]
    },
    {
        "id": "e8b125b.9efbad8",
        "type": "telegrambot-payload",
        "z": "5494f64e.e5e528",
        "name": "Notify",
        "bot": "b4eca378.4bbba",
        "chatId": "12345678",
        "sendMethod": "",
        "payload": "",
        "x": 1130,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "82f343f.66b6ec",
        "type": "comment",
        "z": "5494f64e.e5e528",
        "name": "Уведомление о низком уровне соли в баке",
        "info": "",
        "x": 1390,
        "y": 340,
        "wires": []
    },
    {
        "id": "b9490f48.586ed",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": true,
        "rejectUnauthorizedCerts": true
    },
    {
        "id": "338c62b5.037d7e",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT",
        "broker": "172.16.1.33",
        "port": "8883",
        "tls": "",
        "clientid": "nodered",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b4eca378.4bbba",
        "type": "telegrambot-config",
        "z": "",
        "botname": "Telegram Bot",
        "usernames": "",
        "chatIds": "12345678",
        "pollInterval": "300"
    }
]
