005-Heating-control-unit/nodered_flow.json
[
    {
        "id": "bea3922e.21463",
        "type": "server-state-changed",
        "z": "9b44df70.b0bda",
        "name": "Среднесуточная температура",
        "server": "b9490f48.586ed",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.outside_temperature_statistics",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 260,
        "wires": [
            [
                "25f47801.005a88"
            ]
        ]
    },
    {
        "id": "25f47801.005a88",
        "type": "moment",
        "z": "9b44df70.b0bda",
        "name": "Month",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Moscow",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "M",
        "locale": "C",
        "output": "month",
        "outputType": "msg",
        "outTz": "Europe/Moscow",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "854e183c.ae3148"
            ]
        ]
    },
    {
        "id": "854e183c.ae3148",
        "type": "switch",
        "z": "9b44df70.b0bda",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "17",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "15",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 515,
        "y": 260,
        "wires": [
            [
                "11effb63.99a645"
            ],
            [
                "a9aa207a.6d68c"
            ]
        ],
        "l": false
    },
    {
        "id": "11effb63.99a645",
        "type": "switch",
        "z": "9b44df70.b0bda",
        "name": "Only 5-9 months",
        "property": "month",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "[5-9]",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 595,
        "y": 240,
        "wires": [
            [
                "1c344549.c7506b"
            ]
        ],
        "l": false
    },
    {
        "id": "a9aa207a.6d68c",
        "type": "switch",
        "z": "9b44df70.b0bda",
        "name": "Except 6-9 months",
        "property": "month",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "\\b([1-5]|1[0-2])\\b",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 595,
        "y": 280,
        "wires": [
            [
                "d4c702c2.ddb37"
            ]
        ],
        "l": false
    },
    {
        "id": "1c344549.c7506b",
        "type": "api-current-state",
        "z": "9b44df70.b0bda",
        "name": "Отопительный сезон?",
        "server": "b9490f48.586ed",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.heating_season",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 760,
        "y": 240,
        "wires": [
            [
                "69ca4d43.0912b4",
                "be0b8c06.4f2ea"
            ],
            []
        ]
    },
    {
        "id": "d4c702c2.ddb37",
        "type": "api-current-state",
        "z": "9b44df70.b0bda",
        "name": "Отопительный сезон?",
        "server": "b9490f48.586ed",
        "version": 2,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.heating_season",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 760,
        "y": 280,
        "wires": [
            [
                "f8670a5f.54da98",
                "8d56ad96.e6bad"
            ],
            []
        ]
    },
    {
        "id": "69ca4d43.0912b4",
        "type": "function",
        "z": "9b44df70.b0bda",
        "name": "data",
        "func": "msg.payload = {\n    chatId: \"99999999\",\n    type: \"message\",\n    content: \"🌞 Завершён сезон отопления\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 240,
        "wires": [
            [
                "48c2bc7c.9d7f54"
            ]
        ]
    },
    {
        "id": "be0b8c06.4f2ea",
        "type": "template",
        "z": "9b44df70.b0bda",
        "name": "OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"domain\": \"input_boolean\",\n    \"service\": \"turn_off\",\n    \"data\": {\n        \"entity_id\": \"input_boolean.heating_season\"\n    }\n}\n",
        "output": "str",
        "x": 990,
        "y": 200,
        "wires": [
            [
                "cc96c012.38cf8"
            ]
        ]
    },
    {
        "id": "f8670a5f.54da98",
        "type": "template",
        "z": "9b44df70.b0bda",
        "name": "ON",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"domain\": \"input_boolean\",\n    \"service\": \"turn_on\",\n    \"data\": {\n        \"entity_id\": \"input_boolean.heating_season\"\n    }\n}\n",
        "output": "str",
        "x": 990,
        "y": 320,
        "wires": [
            [
                "cc96c012.38cf8"
            ]
        ]
    },
    {
        "id": "8d56ad96.e6bad",
        "type": "function",
        "z": "9b44df70.b0bda",
        "name": "data",
        "func": "msg.payload = {\n    chatId: \"99999999\",\n    type: \"message\",\n    content: \"❄️ Начат сезон отопления\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 280,
        "wires": [
            [
                "48c2bc7c.9d7f54"
            ]
        ]
    },
    {
        "id": "48c2bc7c.9d7f54",
        "type": "telegram sender",
        "z": "9b44df70.b0bda",
        "name": "Notify",
        "bot": "f6e2842.9c49078",
        "outputs": 1,
        "x": 1095,
        "y": 260,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "cc96c012.38cf8",
        "type": "api-call-service",
        "z": "9b44df70.b0bda",
        "name": "HA",
        "server": "b9490f48.586ed",
        "version": 3,
        "debugenabled": false,
        "service_domain": "",
        "service": "",
        "entityId": "",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1175,
        "y": 260,
        "wires": [
            []
        ],
        "inputLabels": [
            "service"
        ],
        "l": false
    },
    {
        "id": "32cb725d.6661ce",
        "type": "comment",
        "z": "9b44df70.b0bda",
        "name": "Включение отопительного сезона при среднесуточной температуре ниже 15 градусов",
        "info": "",
        "x": 350,
        "y": 200,
        "wires": []
    }
]
