006 Bathroom Light Control/nodered_flow.json
[
    {
        "id": "4b84a0a9.2e185",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8fc9dc1d.69273",
        "type": "server-state-changed",
        "z": "4b84a0a9.2e185",
        "name": "Дверь (санузел)",
        "server": "b9490f48.586ed",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.2_bathroom_door",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": false,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 140,
        "y": 340,
        "wires": [
            [
                "1a6f3fbd.29d2d",
                "bbd68a5d.246fc8"
            ],
            [
                "1a6f3fbd.29d2d"
            ]
        ]
    },
    {
        "id": "1a6f3fbd.29d2d",
        "type": "change",
        "z": "4b84a0a9.2e185",
        "name": "Door",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "door_on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "door_off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "cb5672d6.13d91"
            ]
        ]
    },
    {
        "id": "bbd68a5d.246fc8",
        "type": "api-current-state",
        "z": "4b84a0a9.2e185",
        "name": "Свет (санузел)",
        "server": "b9490f48.586ed",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "switch.2_bathroom_light",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 440,
        "y": 300,
        "wires": [
            [],
            [
                "a040f29a.b0a3c"
            ]
        ]
    },
    {
        "id": "cb5672d6.13d91",
        "type": "state-machine",
        "z": "4b84a0a9.2e185",
        "name": "",
        "triggerProperty": "payload",
        "triggerPropertyType": "msg",
        "stateProperty": "payload",
        "statePropertyType": "msg",
        "initialDelay": "",
        "persistOnReload": false,
        "outputStateChangeOnly": true,
        "throwException": false,
        "states": [
            "not_occupied",
            "wait_for_door_off",
            "wait_for_motion",
            "occupied"
        ],
        "transitions": [
            {
                "name": "door_on",
                "from": "*",
                "to": "wait_for_door_off"
            },
            {
                "name": "door_off",
                "from": "wait_for_door_off",
                "to": "wait_for_motion"
            },
            {
                "name": "motion_on",
                "from": "wait_for_door_off",
                "to": "wait_for_door_off"
            },
            {
                "name": "motion_on",
                "from": "not_occupied",
                "to": "wait_for_door_off"
            },
            {
                "name": "motion_on",
                "from": "wait_for_motion",
                "to": "occupied"
            },
            {
                "name": "toilet_on",
                "from": "*",
                "to": "occupied"
            },
            {
                "name": "toilet_off",
                "from": "*",
                "to": "wait_for_motion"
            },
            {
                "name": "not_occupied",
                "from": "*",
                "to": "not_occupied"
            }
        ],
        "x": 600,
        "y": 420,
        "wires": [
            [
                "19b0bfc5.27767"
            ]
        ]
    },
    {
        "id": "263e84ae.564a1c",
        "type": "server-state-changed",
        "z": "4b84a0a9.2e185",
        "name": "Движение (санузел)",
        "server": "b9490f48.586ed",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.2_bathroom_motion_sensor",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": false,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "3ff51573.d64b8a",
                "bbd68a5d.246fc8"
            ],
            [
                "3ff51573.d64b8a"
            ]
        ]
    },
    {
        "id": "a040f29a.b0a3c",
        "type": "api-call-service",
        "z": "4b84a0a9.2e185",
        "name": "Свет (санузел)",
        "server": "b9490f48.586ed",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.2_bathroom_light",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 640,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3ff51573.d64b8a",
        "type": "change",
        "z": "4b84a0a9.2e185",
        "name": "Motion",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "motion_on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "motion_off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 420,
        "wires": [
            [
                "cb5672d6.13d91"
            ]
        ]
    },
    {
        "id": "5d4ad786.a1b498",
        "type": "change",
        "z": "4b84a0a9.2e185",
        "name": "not_occupied",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "not_occupied",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 420,
        "wires": [
            [
                "cb5672d6.13d91"
            ]
        ]
    },
    {
        "id": "f8eb9934.afe978",
        "type": "change",
        "z": "4b84a0a9.2e185",
        "name": "Door Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "door_off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 580,
        "wires": [
            [
                "cb5672d6.13d91"
            ]
        ]
    },
    {
        "id": "7cfbadb3.386824",
        "type": "change",
        "z": "4b84a0a9.2e185",
        "d": true,
        "name": "Toilet",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "toilet_on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "toilet_off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 460,
        "wires": [
            [
                "cb5672d6.13d91"
            ]
        ]
    },
    {
        "id": "876bfc07.6fa92",
        "type": "change",
        "z": "4b84a0a9.2e185",
        "d": true,
        "name": "Toilet On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "toilet_on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 640,
        "wires": [
            [
                "cb5672d6.13d91"
            ]
        ]
    },
    {
        "id": "19b0bfc5.27767",
        "type": "switch",
        "z": "4b84a0a9.2e185",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "occupied",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "not_occupied",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wait_for_motion",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wait_for_door_off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 770,
        "y": 400,
        "wires": [
            [
                "35743a96.1cce06"
            ],
            [
                "a90b1fb9.01a0c"
            ],
            [
                "9aa86809.4c20d8",
                "9384b220.642d9",
                "6457f5cf.3a6f5c",
                "3ed7aceb.e96cd4"
            ],
            [
                "9aa86809.4c20d8",
                "a7c9874e.1e38e8",
                "6457f5cf.3a6f5c",
                "3ed7aceb.e96cd4"
            ]
        ]
    },
    {
        "id": "9aa86809.4c20d8",
        "type": "trigger",
        "z": "4b84a0a9.2e185",
        "name": "5 Min",
        "op1": "",
        "op2": "off",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "wait_for_motion",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1190,
        "y": 420,
        "wires": [
            [
                "5d4ad786.a1b498",
                "6457f5cf.3a6f5c"
            ]
        ]
    },
    {
        "id": "6457f5cf.3a6f5c",
        "type": "trigger",
        "z": "4b84a0a9.2e185",
        "name": "5 Min",
        "op1": "",
        "op2": "off",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "wait_for_door_off",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1390,
        "y": 380,
        "wires": [
            [
                "1329363e.0009fa",
                "5d4ad786.a1b498"
            ]
        ]
    },
    {
        "id": "657d7337.9fa5ac",
        "type": "trigger-state",
        "z": "4b84a0a9.2e185",
        "name": "Свет (санузел)",
        "server": "b9490f48.586ed",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "switch.2_bathroom_light",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on",
                "propertyValue": "old_state.state"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 1040,
        "y": 260,
        "wires": [
            [
                "9e241b49.b932f8",
                "5d4ad786.a1b498"
            ],
            [
                "6457f5cf.3a6f5c"
            ]
        ],
        "outputLabels": [
            "Lights turned Off",
            "Lights turned On"
        ]
    },
    {
        "id": "a7c9874e.1e38e8",
        "type": "api-current-state",
        "z": "4b84a0a9.2e185",
        "name": "Дверь (санузел)",
        "server": "b9490f48.586ed",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "binary_sensor.2_bathroom_door",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 610,
        "y": 580,
        "wires": [
            [
                "f8eb9934.afe978"
            ],
            []
        ]
    },
    {
        "id": "4a41b712.a00278",
        "type": "server-state-changed",
        "z": "4b84a0a9.2e185",
        "d": true,
        "name": "Унитаз",
        "server": "b9490f48.586ed",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.2_bathroom_toilet_usage",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "x": 170,
        "y": 460,
        "wires": [
            [
                "7cfbadb3.386824"
            ]
        ]
    },
    {
        "id": "402a4a80.6098f4",
        "type": "api-current-state",
        "z": "4b84a0a9.2e185",
        "d": true,
        "name": "Унитаз",
        "server": "b9490f48.586ed",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "binary_sensor.2_bathroom_toilet_usage",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1200,
        "y": 640,
        "wires": [
            [
                "876bfc07.6fa92"
            ],
            []
        ]
    },
    {
        "id": "35743a96.1cce06",
        "type": "change",
        "z": "4b84a0a9.2e185",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "On",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 340,
        "wires": [
            [
                "9e241b49.b932f8",
                "9aa86809.4c20d8",
                "da14c2ae.593df"
            ]
        ]
    },
    {
        "id": "a90b1fb9.01a0c",
        "type": "change",
        "z": "4b84a0a9.2e185",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Off",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 380,
        "wires": [
            [
                "9aa86809.4c20d8",
                "da14c2ae.593df"
            ]
        ]
    },
    {
        "id": "9384b220.642d9",
        "type": "trigger",
        "z": "4b84a0a9.2e185",
        "d": true,
        "name": "10 Sec",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "10",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1040,
        "y": 640,
        "wires": [
            [
                "402a4a80.6098f4"
            ]
        ]
    },
    {
        "id": "9e241b49.b932f8",
        "type": "change",
        "z": "4b84a0a9.2e185",
        "name": "RESET",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 320,
        "wires": [
            [
                "6457f5cf.3a6f5c"
            ]
        ],
        "icon": "node-red-contrib-actionflows/loopflow.png"
    },
    {
        "id": "1329363e.0009fa",
        "type": "api-current-state",
        "z": "4b84a0a9.2e185",
        "name": "Свет (санузел)",
        "server": "b9490f48.586ed",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "switch.2_bathroom_light",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1580,
        "y": 320,
        "wires": [
            [
                "f1f37671.abd918"
            ],
            []
        ]
    },
    {
        "id": "da14c2ae.593df",
        "type": "mqtt out",
        "z": "4b84a0a9.2e185",
        "name": "mqtt",
        "topic": "2_bathroom/occupancy",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "338c62b5.037d7e",
        "x": 1130,
        "y": 360,
        "wires": []
    },
    {
        "id": "f1f37671.abd918",
        "type": "api-call-service",
        "z": "4b84a0a9.2e185",
        "name": "Свет (санузел)",
        "server": "b9490f48.586ed",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.2_bathroom_light",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1780,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4dda44cd.2df16c",
        "type": "comment",
        "z": "4b84a0a9.2e185",
        "name": "ВКЛ света в санузле при входе или по движению",
        "info": "",
        "x": 210,
        "y": 240,
        "wires": []
    },
    {
        "id": "2260093d.706af6",
        "type": "comment",
        "z": "4b84a0a9.2e185",
        "name": "Когда внутри есть движение, при закрытой двери",
        "info": "",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "3ed7aceb.e96cd4",
        "type": "trigger",
        "z": "4b84a0a9.2e185",
        "d": true,
        "name": "2 Min",
        "op1": "",
        "op2": "motion_on",
        "op1type": "nul",
        "op2type": "str",
        "duration": "120",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "wait_for_door_off",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1040,
        "y": 480,
        "wires": [
            [
                "66acfe48.1f6c2"
            ]
        ]
    },
    {
        "id": "66acfe48.1f6c2",
        "type": "api-current-state",
        "z": "4b84a0a9.2e185",
        "d": true,
        "name": "Движение",
        "server": "b9490f48.586ed",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "binary_sensor.2_bathroom_motion_sensor",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1210,
        "y": 480,
        "wires": [
            [
                "86082dbd.609e3"
            ],
            []
        ]
    },
    {
        "id": "86082dbd.609e3",
        "type": "change",
        "z": "4b84a0a9.2e185",
        "d": true,
        "name": "motion_on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "motion_on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 480,
        "wires": [
            [
                "cb5672d6.13d91"
            ]
        ]
    },
    {
        "id": "3aa61bb4.caca54",
        "type": "comment",
        "z": "4b84a0a9.2e185",
        "d": true,
        "name": "Aqara Zigbee motion sensor",
        "info": "Если датчик находится в состоянии движения более 1.5 минут, то считать это аналогом повторного обнаружения движения, чтобы включить режим occupied.",
        "x": 1620,
        "y": 480,
        "wires": []
    }
]
